.switch{
    display: flex;
    width: max-content;
    background-color: var(--color-bg-switch);
    border-radius: 99px;
    padding: 2px;
    cursor: pointer;
}

.switch_element{
    display: inline-block;
    padding: 3px 10px;
    border: 0.5px solid transparent;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.41px;
    font-weight: 600;
    color: var(--color-text-switch);
}

.switch_element svg{
    fill: #8E8E93;
}

.switch_element-active{
    background: var(--color-bg-switch-active);
    color: var(--color-text-switch-active);
    box-shadow: 0px 3px 8px 0px #0000001F;
    border: 0.5px solid #0000000A;
    border-radius: 99px;
}

.switch_element-active svg{
    fill: var(--color-text-switch-active);
}

.switch-light{
    width: 19px;
    height: 100%;
}

.switch-dark{
    width: 17px;
    height: 100%;
}